{% extends 'base.html' %}
{% block title %}All blogs{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}<br/>
        {% endfor %}
    {% endif %}
    <a href="/addblog/">Add</a>
    <ul>
        {% for blog in blogs %}
            <li>
                <a href="/myblog/{{ blog.id }}">{{ blog.title }}</a>
                <a href="/editblog/{{ blog.id }}">[Edit]</a>
                <a href="/deleteblog/{{ blog.id }}">[Delete]</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}