{% extends 'base.html' %}
{% block title %}All blogs{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}<br/>
        {% endfor %}
    {% endif %}
    <a href="/addblog/">Add</a>
    {% for blog in blogs %}
        <h2><a href="/myblog/{{ blog.id }}">{{ blog.title }}</a></h2>
        <a href="/editblog/{{ blog.id }}">[Edit]</a>
        <a href="/deleteblog/{{ blog.id }}">[Delete]</a>
        <p>{{ blog.id }}</p>
        <p>{{ blog.timestamp }}</p>
        <p>{{ blog.content }}</p>
    {% endfor %}
{% endblock %}