{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}<h1>{{ title }}</h1>
    The article was modified while you were editing it.
    <h2>Current version:</h2>

    <p>{{ current_content }}</p>

    <h2>Your version:</h2>

    <p>{{ user_content }}</p>

    <form action="/editblog/{{ id }}" method="post">
        {% csrf_token %}
        <textarea name="content" cols="80"
                  rows="30">{{ current_content }}</textarea>
        <input type="submit" value="Save">
    </form>
{% endblock %}